@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

 */

 body{
  scroll-behavior: smooth;
 }





 /* //  book a call button ------------------------------ */

 .main-button{
  transition: all ease 0.4s;
  border: 2px solid #125951;
  color: white;
  background: #000;
  /* box-shadow:inset 2px 2px 2px 0px  */
}
.main-button::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color:white ;
  left: 0px;
  bottom: -100%;
  border-radius: 50%;
  
  transition: all ease 0.6s;
}

.main-button:hover::after {
  bottom: 0;
  border-radius: 0;
  color: white;
 
}
.main-button:hover span {
  color: black;
}
.main-button span{
  color: white;
  text-decoration: none;
  position: relative;
  z-index: 10;
}


  /* ============    Scroll down arrow animation  ============================================= */
  @-webkit-keyframes scroll-down {
    0%, 100% {
        opacity: 1;
        transform: translateY(-20px);
    }
    50% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scroll-down {
    0%, 100% {
        opacity: 0;
        transform: translateY(-20px);
    }
    40% {
        opacity: 1;
        transform: translateY(0);
    }
    70% {
        opacity: 1;
        transform: translateY(0);
    }
    100%{
      opacity: 0;
        transform: translateY(20px);
    }
}

.scroll-down-indicator__text {
    display: flex;
    -webkit-animation: scroll-down 3s infinite backwards;
    animation: scroll-down 3s infinite backwards;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-7px);
  }
}

.arrow {
  font-size: 2rem;
  animation: bounce 2s infinite;
}
@keyframes bounceX {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(-7px);
  }

}

.arrows {
  font-size: 2rem;
  animation: bounceX 2s infinite;
}


















.scroller{
  overflow: hidden;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/* general styles */

:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-primary-100: hsl(205, 15%, 58%);
  --clr-primary-400: hsl(215, 25%, 27%);
  --clr-primary-800: hsl(217, 33%, 17%);
  --clr-primary-900: hsl(218, 33%, 9%);
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  padding: 1rem;
  background: var(--clr-primary-400);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
}





